project_name        = "nom du projet"
environment         = "dev, preprod, prod"
location            = "francecentral, westeurope"
resource_group_name = "nom de votre rg"
postgres_admin_password = "mot de passe"
start_date = "year(4)-month(2)"
end_date   = "year(4)-month(2)"